*{
    font-family: "Karla", sans-serif;
}
/*nav-content*/
body{
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}
nav{
    height: 60px;
    top: -4%;
    right: 0;
    left: 0;
    z-index: 1000;
    position: absolute;
}
.outer{
   height: 100%;
}
.inner{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    height: 100%;
}
.main-nav{
    height: 100%;
    display: flex;
    align-items: center;
}
ul{
    display: flex;
    gap: 30px;
}
li{
    list-style: none;
}
li a{
    text-decoration: none;
    color: black;
}


/*main-content*/
main{
    margin-top: 50px;
    overflow: hidden;
}
.qr-image{
    height: 500px;
}
.wrapper{
    position: relative;
    height: 750px;
    display: grid;
    grid-template-columns: 1fr 700px;
}
/*rgba(237, 229, 255, 0.61)*/
.s1{
    top: -60%;
    left: 30%;
    position: absolute;
    height: 1700px;
    z-index: -1;

}
.s2{
    top: -90%;
    right: 60%;
    position: absolute;
    height: 1500px;
    z-index: -1;

}
.con-left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.con-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    /*
    background-color: white;
    box-shadow: 0px 10px 20px #d9d9d9;   
    */     
    border-radius: 15px;
    width: 500px;
    padding: 20px;
}

.con-email,
.con-password{
    
}
.con-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}
.loginBtn{
    border: none;
    border-radius: 18px;
    cursor: pointer;
    width: 100%;
    padding: 10px 0;
    font-weight: 600;
    letter-spacing: 3px;
    background-color: rgba(129, 73, 255, 1);
    box-shadow: 0px 10px 20px #d9d9d9;  
    color: whitesmoke;
}
.loginBtn:hover{
    background-color: rgba(96, 27, 253, 1);
    box-shadow: 0px 10px 20px #b0b0b0;  
}